<div class="container">
<div class="card card-outline-azul mb-3 ">
	<div class="card-block">
	
    	<div class="panel panel-primary">
    		<div class="panel-heading" style="text-align:center">TIENDA DE LIBROS</div>
  		</div>
        <form action="/listado" method="POST" name="myForm" onsubmit="">
       	<div class="row justify-content-md-center">
        	<div class="col-6">
       	 		<b>Nombre del libro</b>
        		<input class="form-control" value="<%=libro[0].nombre%>" name="nombre" type="text" placeholder="nobre del libro">
        		</br>
        		<b>cantidad</b>
        		<input class="form-control col-4" type="number" name="cantidad">
                </br>
                <div class="form-group">
                	<b>version</b></br>
                  	<input  type="radio" name="version" value="lujo"> Lujo </br>
                  	<input  type="radio" name="version" value="bolsillo"> bolsillo </br>
                </div>
                </br>
            </div>
        </div>
        <div class="text-right">	
        	<button class="btn btn-primary" type="submit" value="Submit">enviar</button> 
        	<button class="btn btn-danger" type="reset" value="reset">eliminar</button> 	
        </div>

    	</form>
    	
  	</div>
</div>
</div>